In [1]:
3+5

8

In [2]:
print("Welcome All")

Welcome All

In [3]:
a=5
print(a)

5

In [4]:
dna = "AGTC"
print(dna)

AGTC

In [5]:
mass=47.5
height=24.5
age=122
print(age-20)
print(mass*2.3)
print(height+20)

102
109.24999999999999
44.5

In [6]:
mass = 47.5
mass = mass * 2.3

In [7]:
mass=47.5
print(mass*2.3)

109.24999999999999

In [8]:
import math

In [9]:
math.sqrt(64)

8.0

help(math)

In [10]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/oscarvillasanaespinosa/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [11]:
type(dna)

str

In [12]:
type(a)

int

In [13]:
score=79

In [14]:
float(score)

79.0

In [15]:
float(score)

79.0

In [16]:
score=79

In [17]:
score2=79
type(str(type(float(score2))))

str

In [18]:
type(score)

int

In [19]:
score=79
type(score)

int

In [20]:
help <module>

SyntaxError: invalid syntax (<ipython-input-20-6337d8a06f60>, line 1)

In [ ]:
<module>

In [ ]:
my_first_list = [4, 5.0, "Texas"]

In [ ]:
my_first_list[0]

In [ ]:
my_first_list[1]

In [ ]:
my_first_list[1]

In [ ]:
my_first_list[1]=5.7

In [ ]:
my_first_list[1]

In [ ]:
my_first_list

In [ ]:
my_first_tuple = (4, 5.0, "Texas")

In [ ]:
type(my_first_tuple)

In [ ]:
my_first_tuple[1]=5.7

In [ ]:
my_first_dictionary = {"Number_1" : 1}

In [ ]:
print(my_first_dictionary)

In [ ]:
my_second_dictionary = {"Number_one" : 1, "Number_two" : 2, "Number_three" : "three"}

In [ ]:
print(my_second_dictionary["Number_three"])

In [ ]:
print(my_second_dictionary[2])

In [ ]:
import pandas as pd

In [ ]:
myOrder = {"menuItems" :["chicken", "soup", "salad", "tea"], 
           "menuType" : ["solid", "liquid", "solid", "liquid"], 
           "menuCost" : [4.99, 2.99, 3.29, 1.89]
          } 
print (myOrder)

In [ ]:
myOrder ["menuType"]

In [ ]:
import math as m

In [ ]:
math.sqrt(64)

In [ ]:
myOrder_df = pd.DataFrame(data=myOrder)

In [ ]:
print(myOrder_df)

In [ ]:
print(myOrder)

In [ ]:
my_file = pd.read_csv("Data/gapminder.txt", delimiter = "\t")

In [ ]:
my_file.head()

In [ ]:
#general syntax
my_file.iloc[rows,columns]

In [ ]:
my_file.iloc[0,2]

In [ ]:
my_file.iloc[0:10, 2:4]

In [ ]:
my_file.iloc[[0,2,5],[2,4]]

In [ ]:
my_file.loc[:,['year','pop']]

In [ ]:
my_file.loc[0:10,['year','pop']]

In [ ]:
my_file.loc[my_file["country"]=="Afghanistan"]

In [ ]:
my_file.loc[my_file["country"]=="Afghanistan",['year','pop']]

In [ ]:
check=my_file["country"]=="Afghanistan"

In [ ]:
print(check.head(13))

In [ ]:
my_file.iloc[:,[2,4]]

In [ ]:
my_file.loc[my_file["lifeExp"]<70,:]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

my_file = pd.read.csv("Data/gapminder.txt", delimiter = "\t")

Canada = my_file.loc[my_file["country"]=="Canada"]

In [ ]:
##This is  PlotLifeExp.py script
import pandas as pdimport matplotlib.pyplot as plt
#read data into python
my_file = pd.read_csv("gapminder.txt", delimiter = "\t")
#my_file is a dataframe - check
#select information about Canada
Canada = my_file.loc[my_file['country'] == "Canada"]
#plot lifeExp
Canada.plot.line(x='year',y='lifeExp',label = "Life Expectancy",figsize=(8, 6))
plt.suptitle('Life Expectancy in Canada Over the years', fontsize = 20)
plt.xlabel('Year', fontsize = 16)
plt.ylabel('Life Expectancy', fontsize = 16)plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

my_file = pd.read_csv("Data/gapminder.txt", delimiter = "\t")

Canada = my_file.loc[my_file["country"]=="Canada"]

Canada.plot.line(x='year',y='lifeExp',label = "Life Expectancy",figsize=(8, 6))
plt.suptitle('Life Expectancy in Canada Over the years', fontsize = 20)
plt.xlabel('Year', fontsize = 16)
plt.ylabel('Life Expectancy', fontsize = 16)
plt.savefig("PlotLifeExp.png")

In [21]:
import pandas as pd
import matplotlib.py as plt

my_file = pd.read.csv("Data/gapminder.txt"), delimiter = "\t"

Africa = my_file[my_file.continent == "Africa"]

Africa_Mean = Africa.iloc[:,5].mean()

Europe = my_file[my_file.continent == "Europe"]
Europe_Mean = Europe.iloc[:,5].mean()

SyntaxError: can't assign to function call (<ipython-input-21-66bb5f8c2772>, line 4)

In [25]:
import pandas as pd
import matplotlib.py as plt

my_file = pd.read_csv("Data/gapminder.txt"), delimiter = "\t"

Africa = my_file[my_file.continent == "Africa"]

Africa_Mean = Africa.iloc[:,5].mean()

Europe = my_file[my_file.continent == "Europe"]
Europe_Mean = Europe.iloc[:,5].mean()

SyntaxError: can't assign to function call (<ipython-input-25-c9e2fa936d75>, line 4)

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import pylab

my_file = pd.read_csv("Data/gapminder.txt", delimiter = "\t")

Africa = my_file[my_file.continent == "Africa"]

Africa_Mean = Africa.iloc[:,5].mean()

Europe = my_file[my_file.continent == "Europe"]

Europe_Mean = Europe.iloc[:,5].mean ()

print(Africa_Mean)
print(Europe_Mean)

continents = ["Africa","Europe"]
mean_gdp = [Africa_Mean, Europe_Mean]



plt.bar(continents, mean_gdp, align = "center")
plt.ylabel("Mean GDP/Capita")
plt.title("Mean GDP/Capita in Africa Vs Europe")
plt.savefig("Mean_GDP_plot.png")

2193.7545782857374
14469.475533302237