In [1]:
3+5

8

In [2]:
print("Welcome All")

Welcome All

In [3]:
a=5
print(a)

5

In [4]:
dna = "AGTC"
print(dna)

AGTC

In [42]:
mass=47.5
height=24.5
age=122
print(age-20)
print(mass*2.3)
print(height+20)

102
109.24999999999999
44.5

In [39]:
mass = 47.5
mass = mass * 2.3

In [40]:
mass=47.5
print(mass*2.3)

109.24999999999999

In [8]:
import math

In [9]:
math.sqrt(64)

8.0

help(math)

In [10]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/oscarvillasanaespinosa/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [11]:
type(dna)

str

In [12]:
type(a)

int

In [15]:
score=79

In [16]:
float(score)

79.0

In [ ]:
float(score)

In [ ]:
score=79

In [ ]:
score2=79
type(str(type(float(score2))))

In [ ]:
type(score)

In [ ]:
score=79
type(score)

In [ ]:
help <module>

In [ ]:
<module>

In [17]:
my_first_list = [4, 5.0, "Texas"]

In [18]:
my_first_list[0]

4

In [19]:
my_first_list[1]

5.0

In [21]:
my_first_list[1]

5.0

In [22]:
my_first_list[1]=5.7

In [24]:
my_first_list[1]

5.7

In [25]:
my_first_list

[4, 5.7, 'Texas']

In [26]:
my_first_tuple = (4, 5.0, "Texas")

In [27]:
type(my_first_tuple)

tuple

In [29]:
my_first_tuple[1]=5.7

TypeError: 'tuple' object does not support item assignment

In [30]:
my_first_dictionary = {"Number_1" : 1}

In [31]:
print(my_first_dictionary)

{'Number_1': 1}

In [34]:
my_second_dictionary = {"Number_one" : 1, "Number_two" : 2, "Number_three" : "three"}

In [36]:
print(my_second_dictionary["Number_three"])

three

In [37]:
print(my_second_dictionary[2])

KeyError: 2

In [44]:
import pandas as pd

In [48]:
myOrder = {"menuItems" :["chicken", "soup", "salad", "tea"], 
           "menuType" : ["solid", "liquid", "solid", "liquid"], 
           "menuCost" : [4.99, 2.99, 3.29, 1.89]
          } 
print (myOrder)

{'menuItems': ['chicken', 'soup', 'salad', 'tea'], 'menuType': ['solid', 'liquid', 'solid', 'liquid'], 'menuCost': [4.99, 2.99, 3.29, 1.89]}

In [49]:
myOrder ["menuType"]

['solid', 'liquid', 'solid', 'liquid']

In [50]:
import math as m

In [51]:
math.sqrt(64)

8.0

In [54]:
myOrder_df = pd.DataFrame(data=myOrder)

In [55]:
print(myOrder_df)

  menuItems menuType  menuCost
0   chicken    solid      4.99
1      soup   liquid      2.99
2     salad    solid      3.29
3       tea   liquid      1.89

In [56]:
print(myOrder)

{'menuItems': ['chicken', 'soup', 'salad', 'tea'], 'menuType': ['solid', 'liquid', 'solid', 'liquid'], 'menuCost': [4.99, 2.99, 3.29, 1.89]}

In [57]:
my_file = pd.read_csv("Data/gapminder.txt", delimiter = "\t")

In [58]:
my_file.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [59]:
#general syntax
my_file.iloc[rows,columns]

NameError: name 'rows' is not defined

In [61]:
my_file.iloc[0,2]

1952

In [62]:
my_file.iloc[0:10, 2:4]

   year  lifeExp
0  1952   28.801
1  1957   30.332
2  1962   31.997
3  1967   34.020
4  1972   36.088
5  1977   38.438
6  1982   39.854
7  1987   40.822
8  1992   41.674
9  1997   41.763

In [63]:
my_file.iloc[[0,2,5],[2,4]]

   year       pop
0  1952   8425333
2  1962  10267083
5  1977  14880372

In [66]:
my_file.loc[:,['year','pop']]

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
5     1977  14880372
6     1982  12881816
7     1987  13867957
8     1992  16317921
9     1997  22227415
10    2002  25268405
11    2007  31889923
12    1952   1282697
13    1957   1476505
14    1962   1728137
15    1967   1984060
16    1972   2263554
17    1977   2509048
18    1982   2780097
19    1987   3075321
20    1992   3326498
21    1997   3428038
22    2002   3508512
23    2007   3600523
24    1952   9279525
25    1957  10270856
26    1962  11000948
27    1967  12760499
28    1972  14760787
29    1977  17152804
...    ...       ...
1674  1982   9657618
1675  1987  11219340
1676  1992  13367997
1677  1997  15826497
1678  2002  18701257
1679  2007  22211743
1680  1952   2672000
1681  1957   3016000
1682  1962   3421000
1683  1967   3900000
1684  1972   4506497
1685  1977   5216550
1686  1982   6100407
1687  1987   7272406
1688  1992   8381163
1689  1997   9417789
1690  2002  10595811
1691  2007  11746035
1692  1952   3080907
1693  1957   3646340
1694  1962   4277736
1695  1967   4995432
1696  1972   5861135
1697  1977   6642107
1698  1982   7636524
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [67]:
my_file.loc[0:10,['year','pop']]

    year       pop
0   1952   8425333
1   1957   9240934
2   1962  10267083
3   1967  11537966
4   1972  13079460
5   1977  14880372
6   1982  12881816
7   1987  13867957
8   1992  16317921
9   1997  22227415
10  2002  25268405

In [68]:
my_file.loc[my_file["country"]=="Afghanistan"]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
1   Afghanistan      Asia  1957   30.332   9240934  820.853030
2   Afghanistan      Asia  1962   31.997  10267083  853.100710
3   Afghanistan      Asia  1967   34.020  11537966  836.197138
4   Afghanistan      Asia  1972   36.088  13079460  739.981106
5   Afghanistan      Asia  1977   38.438  14880372  786.113360
6   Afghanistan      Asia  1982   39.854  12881816  978.011439
7   Afghanistan      Asia  1987   40.822  13867957  852.395945
8   Afghanistan      Asia  1992   41.674  16317921  649.341395
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
10  Afghanistan      Asia  2002   42.129  25268405  726.734055
11  Afghanistan      Asia  2007   43.828  31889923  974.580338